<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VE Picture Server</title>
  </head>
  <body>
    <p>Here are your pictures</p>
    <p>New Image Upload</p>
      <form method="post" action="upload/post" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit" name="upload">Post</button>
      </form>
  </body>
</html>