<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Box icons-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--Css-->
    <link rel="stylesheet" href="/public/assets/style2.css" type="text/css" />

    <title>Valeria Erceg</title>
  </head>
    <header class="l-header">
        <center>
          
          <a href="http://127.0.0.1:3000/home">
            <img class="icon" src="/public/images/VE icon.png" alt="icon">
          </a>
       <nav class="nav bd-grid">
        <div class="nav__menu" id="nav-menu"> 
          
          <ul class="nav__list">
            <li class="nav__item">
              <a href="http://127.0.0.1:3000/home" class="nav__link active">Home</a>
            </li>
            <li class="nav__item">
              <a href="http://127.0.0.1:3000/home#tutorials" class="nav__link">Tutorials</a>
            </li>
            <li class="nav__item">
              <a href="http://127.0.0.1:3000/home#style" class="nav__link">Style</a>
            </li>
            <li class="nav__item">
              <a href="http://127.0.0.1:3000/home#contact" class="nav__link">Contact</a>
            </li>     
          </ul>
          
        </div> 
        </nav>
         </center>
  </header>
  
  
  
  <body>
    <main class="l-main">
    <section class="Skincare section" id="Skincare">
        <h2 class="section-title">Skincare</h2>
      
      
      
<!--         <div class="style__container bd-grid">
      </div> -->
      </section>
      <center>
        <section aria-label="Newest Photos">
          <div class="carousel" data-carousel>
            <button class="carousel-button prev" data-carousel-button="prev">&#10229;</button>
            <ul data-slides>
              <li class="slide" data-active>
                <img src="/public/pictures/701d7728-80fa-4e02-8790-a7a4915426d3.png" alt="image 1">
              </li>
              <li class="slide">
                <img src="/public/pictures/0e8d1cef-33ab-488f-9743-42c920173fe1.png" alt="image 2">
              </li>
              <li class="slide">
                <img src="/public/pictures/b0a8b53c-9f17-454d-abc3-57fb8ab67f3e.png" alt="image 3">
              </li>
            </ul>
            <button class="carousel-button next" data-carousel-button="next">&#10230;</button>
  
          </div>
        </section>
      </center>
    </main>
    <center>
      <section class="skincare content">
        <h1>About Skincare</h1>
      </section>
    </center>
    <section class="skincare-text">
      <p>
        <i>Wyith skincare I learned that less is more</i><br>I have dry acne prone skin, whith that being said I can't over stimulate my skin with too much active ingredients<br> or I will have a red-not-so-very-happy bumpy skin, so across the years I learned that less is more with my face<br>
        Here's a list of the products I'm currently using:
      </p>
      
    </section>
    <section class="skincare-list">
        <ul class="list">
          <li><a href="https://www.cerave.com/skincare/cleansers/foaming-facial-cleanser">&#8226; CeraVe Foaming Facial Cleanser $15</a>
          </li>
          <li><a href="https://www.cerave.com/skincare/moisturizers/moisturizing-cream">&#8226; CeraVe Moisturizing Cream $15</a>
          </li>
          <li><a href="https://www.goodmolecules.com/products/hyaluronic-acid-serum?variant=39541197045860">&#8226; Good Molecules HYALURONIC ACID SERUM $6</a>
          </li>          
          <li><a href="https://www.goodmolecules.com/products/discoloration-correcting-serum?variant=40398185693284">&#8226; Good Molecules DISCOLORATION CORRECTING SERUM $12</a>
          </li>          
          <li><a href="https://www.amazon.com/Bondi-Sands-Fragrance-Protection-Non-Greasy/dp/B08Q86TZMK">&#8226; Bondi Sans Face Sunscreen $7</a>
          </li>    
        </ul>
    </section>
    
    
    
    
    <footer>
           <div class="footer">
<!--          <div class="footer container">
            -->
         <div class="col-1">
         <h3>Explore</h3>
           <a href="http://127.0.0.1:3000/home">Home</a>
           <a href="http://127.0.0.1:3000/home#tutorials">Tutorials</a>
           <a href="http://127.0.0.1:3000/home#style">Style</a>
           <a href="http://127.0.0.1:3000/home#contact">Contact</a>
         
         </div>
         <div class="col-2">
         <h3>Socials</h3>
           <a target="_blank" href="https://www.tiktok.com/@valeriaerceg/" class="about__social-icon"
                ><i class="bx bxl-tiktok"></i
              ></a>
              <a target="_blank" rel="noreferrer" href="https://www.instagram.com/valeriaerceg/" class="about__social-icon"
                ><i class="bx bxl-instagram"></i
              ></a>
         </div>
         
         <div class="col-3">
         <h3>Remember</h3>
           <p>"Doesn't matter what you do,<br>
             what matter is<br>if you are doing it with passion".</p>
         
         </div>
       </div>
<!--        </div> -->
    </footer>
    <script src="/public/javascript/carousel.js" type="text/javascript"></script>

  </body>
</html>
